.datatable-green{
  background-color:#86DC3D;
  font-weight: bold;
}

.datatable-yellow {
background-color:#FEE227;
font-weight: bold;
}

.datatable-red {
background-color:#F46D75;
font-weight: bold;
}